// DetailCard.scss
.detail-card-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.img-main-container{
  max-height:400px;
  border:1px solid grey;
  width:100%;
  overflow: hidden;
  position:relative;
  min-width:250px;
}
.img-repo-container{
  //border:1px solid red;
  display: flex;
  flex-direction:row;
  max-height:375px;
  //width:400%;
  transition: margin-left 0.5s;
  background:black;
}
.Noimg-container{
  min-height:100px;
  width:100%;
  color:white;
  background-color: black;
  text-align: center;
  font-size:20px;
}
.img-container{
  width:100%;
  align-content: center;
  min-height:100px;
  //border:1px solid blue;
  //position:relative;
}
 img{
 max-height: 90%;
 max-width:90%;
 align-content: center;
 margin:0 auto;
 display: block;
 }

 .img-btn-left,.img-btn-right{
  position: absolute;
  height:100%;
  align-content: center;
 }

 .img-btn-right{
  right:0%
 }

 .img-btn{
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight:bold;
    color: grey;
    background: transparent;
    border: 2px solid gray;
    border-radius: 25px;
    padding-top:2px;
 }

 .tools_info_card{
  display: block;

  padding:0px;
 }

 .titleCard{
  margin-top:10px;
  border-radius:10px;
  padding:10px;
  border:1px solid grey;
  margin-right:10px;
  display: inline-block;
  width:100%;
 }

 .seller_info{
  margin-top:10px;
  border-radius:10px;
  padding:10px;
  border:1px solid grey;
  display: inline-block;
 }

 .pricing-info{
  margin-top:10px;
  border:1px solid grey;
  border-radius:10px;
  padding:10px;


 }

 .detailsCardSpan{
  font-weight: bold;
 }

 .additional-details{
  margin-top:10px;
  border:1px solid grey;
  border-radius:10px;
  padding:10px;
 }
 .additional-details-content{
  overflow: scroll;
  overflow-x: hidden;
  max-height:150px;
  
 }
 .img-counter{
  text-align: center;
  color:white;
  background-color: black;
 }
 .editIcon{
  border:1px solid red;
  display:block;
 }
 .inputFields{
  width:120px;
  height:25px;
 }
 .inputTextArea{
  width:100%;
  min-height:150px;
 }
 .btn_container{
  display:block;
  margin:0 auto;
  margin-top:10px;
 }