// DetailCard.scss
.detail-card-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel-container {
    width: 100%;
    height: 400px; // Ensure this height fits your images
    display: flex;
    overflow: hidden;
    position: relative;

    .carousel-item {
      min-width: 100%;
      transition: transform 0.5s ease;

      img {
        width: 100%; // Ensure images take full width of carousel item
        height: 100%; // Ensure images fill the height of carousel item
        object-fit: cover; // Maintain aspect ratio while covering the area
      }
    }
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

    .card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      width: 45%; // Adjust as needed

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;

      .card {
        width: 90%;
        margin-bottom: 20px;
      }
    }
  }
}