@media (max-width: 575px) {
    .site-layout {
      margin-left: 0 !important;
    }
  }
  
  @media (min-width: 576px) {
    .site-layout {
      margin-left: 80px !important;
    }
  }
  
  .tableSectionScroll{
    overflow:auto;
  }

  .sidebar{
    min-width:250px !important;
  }
  .quoteViewModal>div>div{
    margin-top:25px;
  }